<h1>Enter the following details</h1>
<table>
  <tr>
    <td><span>Name</span></td>
    <td><input [(ngModel)]="dataset.name" name="name" type="text"></td>
  </tr>
  <tr>
    <td><span>Age(Integer)</span></td>
    <td><input [(ngModel)]="dataset.age" name="age" type="number"></td>
  </tr>
  <tr>
    <td><span>Country</span></td>
    <td><input [(ngModel)]="dataset.country" name="country" type="text"></td>
  </tr>
  <tr>
    <td></td>
    <td>
      <button (click)="onSubmit()">Submit</button>
    </td>
  </tr>
</table>
